<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{appName}}</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link href="http://localhost:3000/styles.css" rel="stylesheet">
</head>

<body>
  <h1>User Profile</h1>
  <table id="myTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Classification</th>
        <th>Type</th>
        <th>Account Number</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{userProfile.name}}</td>
        <td>{{userProfile.account.classification}}</td>
        <td>{{userProfile.account.type}}</td>
        <td>{{userProfile.account.account_number}}</td>
        <td>{{userProfile.account.status}}</td>
      </tr>
    </tbody>
  </table>
</body>

</html>